* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.memoPage { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    min-height: 100dvh;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fafbfd;
    border-bottom: .8px solid #555657;
}

#headerLeft {
    display: flex;
    align-items: center;
    gap: 4px;
}

#writeBtn {
    font-size: 28px;
}

#leftSide {
    width: 24%;
    height: 100%;
    background-color: #f4f5f7;
}

#cardList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
}

#cardList::-webkit-scrollbar {
    display: none;
}

.cardItem {
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    width: 92%;
    border-top: .4px solid #d1d2d555;
    border-bottom: .4px solid #d1d2d555;
}

.cardItem:first-child {
    border-top: 0px;
}

.cardItem:hover {
    display: flex;
    flex-direction: column;
    padding: 4px;
    padding-left: 16px;
    padding-right: 8px;
    margin: 8px;
    margin-left: 12px;
    margin-right: 12px;
    width: 92%;
    background-color: #e9eaed;
    border-radius: 8px;
}

.cardItem:active {
    display: flex;
    flex-direction: column;
    padding-top: 3.8px;
    padding-bottom: 4px;
    padding-left: 15.6px;
    padding-right: 8px;
    margin: 8px;
    margin-left: 12px;
    margin-right: 12px;
    width: 92%;
    background-color: #c3c4ca;
    border: .8px solid #3a3b3f;
    border-radius: 8px;
}

.cardItem:first-child:active {
    display: flex;
    flex-direction: column;
    padding-top: 3.6px;
    padding-bottom: 4px;
    padding-left: 15.6px;
    padding-right: 8px;
    margin: 8px;
    margin-left: 12px;
    margin-right: 12px;
    width: 92%;
    background-color: #c3c4ca;
    border: .8px solid #515257;
    border-radius: 8px;
}

.cardTitle {
    font-size: 18px;
    font-weight: 500;
}
        
.cardMessage {
    font-size: 14px;
    height: 20px;
    overflow: hidden;
    color: #7a7a7a;
}

#rightSide {
    width: 76%;
    background-color: #ffffff;
}

#inputContainer { 
    display: none;
    padding: 48px; 
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #e1e2e5; 
    border: 1px solid #d1d2d5;
}

.formGroup { 
    margin: 10px; 
}

.formControl::placeholder {
    color: #a2a2a2;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}
