* {
    padding: 0;
    margin: 0;
}
#todoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    margin: 120px;
    gap: 24px;
    width: 240px;
    height: 400px;
    border: 1px solid #cdcdcd;
    border-radius: 16px;
}
#textfield {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 24px;
}
#newTodo {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    width: 84%;
}
#addTodo {
    width: 16%;
}
#todoList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
}
li {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 16px;
}
.todoContainer {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}
.deleteIcon {
    color: #7a7a7a;
    cursor: pointer;
}