*{
    box-sizing: border-box;
}
.box{
    border: 1px solid #cdcdcd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}