*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-self: center;
    background-image: url(images/bg.png);
    background-size: cover;
    color: white;
    text-align: center;
}
form{
    background-color: #ffffff2b;
    backdrop-filter: blur(12px);
    padding: 32px; 
    border-radius: 8px;
    border:1px solid #ffffff2b;
    min-width: 320px;
    margin-top: 40px;
}
input{
    background-color: #ffffff2b;
    color: #ffffff;
    display: block;
    border-width: 0px;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    margin-top: -12px;
}
input::placeholder{
    color: #ffffff8b;
}
label{
    display: flex;
    font-weight: 600;
}
button{
    width: 100%;
    color: white;
    background-color: #ffffff4b;
    border-width: 0px;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 6px;
    transition: width, height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
button:hover, #btn:hover{
    background-color: #aaaaaa2b;
    color: #ffffff;
}
.sns{
    display: flex;
    gap: 16px;
}
#btn{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    margin-top: 24px;
    transition: width, height;
    transition-duration: 1s;
}
.logo{
    width: 14px;
    padding-bottom: 2px;
}