* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "gontserrat";
}
body {
    display: flex;
    justify-content: center;
}
form {
    min-width: 560px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 80px;
}
a {
    text-decoration: none;
    color: #0499FF;
}
hr {
    background-color: #e9e9e9;
    margin: 8px;
    width: 100%;
    height: .8px;
}
.divider {
    width: 100%;
    color: #cdcdcd;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
input[type="text"] {
    background-color: #e9e9e9;
    color: #000000;
    font-size: 14px;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
}
input[type="text"]::placeholder {
    color:#b7b7b7;
}
input[type="text"]:focus {
    outline-color: #0499FF;
}
.name {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
}
.icon {
    width: 12px;
    height: 12px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0499FF;
    color: #ffffff;
    font-size: 14px;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    gap: 8px;
}
button:hover {
    cursor: pointer;
}
#googleLogo {
    width: 14px;
    height: 14px;
}
.dropdownBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    color: #000000;
    font-size: 14px;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
}
.dropdownContents {
    display: none;
}
.checkBox {
    display: flex;
    gap: 8px;
    width: 100%;
}
input[type="checkbox"] {
    display: flex;
    flex-direction: column;
    accent-color: #0499FF;
}
.checkBoxContainer {
    width: 100%;
}