*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 231, 245);
    text-align: center;
}
form{
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, #94bce9 100%);
    border-radius: 16px;
    border: 1px solid #ffffff8b;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
    width: 320px;
    box-shadow: 0px 2px 16px rgba(114, 136, 162, 0.2);
    position: relative;
    overflow: hidden;
}
h1{
    color: white;
}
h2{
    font-size: 40px;
    color: #94bce9;
    margin-top: 80px;
}
input{
    background-color: #ffffff;
    color: #EEAECA;
    width:100%;
    border: 0;
    border-radius: 4px;
    padding: 8px;
}
input:focus{
    outline: 2px solid #94bce999;
    outline-offset: -3px;
}
input::placeholder{
    color: #d79bb58b;
}
button{
    display: none;
}
label{
    display: inline;
    background-color: #ffffff;
    color: #EEAECA;
    font-weight: 700;
    padding: 12px;
    border-radius: 4px;
}
label:hover{
    outline: 2px solid #94bce9;
    outline-offset: -2px;
    box-shadow: 0px 2px 8px #7288a24b;
    cursor: pointer;
}
.asideUp{
    position: absolute;
    width: 100%;
    height: 720px;
    left: 0;
    bottom: -720px;
    background: radial-gradient(circle,#94bce9 0%, #ffffff 100%);
    border-radius: 50% 50%/5% 5%;

    transition-property: transform;
    transition-duration: .4s;    
    transition-timing-function: ease-in-out;
}
button:active ~ aside .asideUp{
    transform: translateY(-400px);
}
button:active ~ label{
    background-color: #d4dce3;
}
.asideUp:hover{
    transform: translateY(-400px);
}
.textfield{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
